fastapi
uvicorn[standard]
PyJWT
bcrypt
python-dotenv
sqlalchemy
psycopg2-binary
pydantic
alembic 
python-multipart 
pylint
black
pytest
httpx
requests
sqlalchemy[asyncio]
asyncpg
pytest_asyncio
aiosqlite
asgi_lifespan